@model TestSystem.Logic.ViewModel.ThemeAboutViewModel



<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/Tables.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Themes info</title>
</head>
<body>
    <div class="container">
        <h2 class="display-3 text-info">Themes dashboard</h2>
        <div class="form-inline">
            @using (Html.BeginForm())
            {
                <div class="col-md-12">
                    <div class="input-group">

                        @Html.TextBox("search",
                       "", new { placeholder = "Search for..." , @class="form-control" })

                        <span class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            }

            <div class="text-center">
                <button class="btn btn-success"
                        onclick="location.href='@Url.Action("CreateNewTheme", "Theme" )'">
                    Create new
                </button>
            </div>
                <table class="table table-hover" >
                    <thead class="show">
                        <tr>
                            <th>Theme</th>
                            <th>Description</th>
                            <th>Tests for theme</th>
                            <th>Questions for theme</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Themes)
                    {
                        string selectedRow = "";
                        if (item.IdTheme == ViewBag.IdTheme)
                        {
                            selectedRow = "bg-light";
                        }
                        <tr class="@selectedRow">
                            <td>

                                @Html.DisplayFor(modelItem => item.ThemeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tests.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Questions.Count)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary"
                                            onclick="location.href='@Url.Action("AboutThemes", "Theme", new { idTheme = item.IdTheme} )'">
                                        Select
                                    </button>
                                    <button class="btn btn-danger"
                                          onclick="location.href='@Url.Action("DeleteTheme", "Theme", new { id = item.IdTheme} )'" >
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>

            @if (Model.Tests != null)
            {
                <h3 class="display-4 text-info">Tests by Selected Theme</h3>
                <div class="scroll-table_1">
                    <table class="table  table-hover" >
                        <thead class="show">
                            <tr class="text-center">
                                <th>Test</th>
                                <th>Questions</th>
                                <th>Theme</th>
                                <th>Creation at</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model.Tests)
                        {
                            string selectedRow = "";
                            if (item.IdTheme == ViewBag.IdTheme)
                            {
                                selectedRow = "bg-light";
                            }
                            <tr class="@selectedRow">
                                <td>
                                    <a class="nav-link text-dark" href="@Url.Action("GetInfoTest", "Test",new {IdTest = item.IdTest })">
                                        @Html.DisplayFor(modelItem => item.TestName)
                                        </a>
                                </td>
                                <td>
                                    <a class="nav-link text-dark" href="@Url.Action("GetInfoTest", "Test",new {IdTest = item.IdTest })">
                                        @Html.DisplayFor(modelItem => item.QuestionsNumber)
                                        </a>
                                </td>
                                <td>
                                    <a class="nav-link text-dark" href="@Url.Action("GetInfoTest", "Test",new {IdTest = item.IdTest })">
                                        @Html.DisplayFor(modelItem => item.Theme.ThemeName)
                                        </a>
                                </td>
                                <td>
                                    <a class="nav-link text-dark" href="@Url.Action("GetInfoTest", "Test",new {IdTest = item.IdTest })">
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                        </a>
                                </td>
                            </tr>
                        }
                    </table>
                    </div>
                    }


                    @if (Model.Questions != null)
                    {
                        <h3 class="display-4 text-info">Questions by Selected Theme</h3>
                        <div class="scroll-table_1">
                            <table class="table table-hover">
                                <tr class="text-center">
                                    <th>Question text</th>
                                    <th>Tests number</th>
                                    <th>Difficult</th>
                                </tr>

                                @foreach (var item in Model.Questions)
                                {
                                    string selectedRow = "";
                                    if (item.IdTheme == ViewBag.IdTheme)
                                    {
                                        selectedRow = "success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>
                                            <a class="nav-link text-dark"
                                               href="@Url.Action("GetInfoQuestion", "Question",new {IdQuestion = item.IdQuestion })#More">
                                                @item.QuestionText
                                                </a>
                                        </td>
                                        <td>
                                            <a class="nav-link text-dark"
                                               href="@Url.Action("GetInfoQuestion", "Question",new {IdQuestion = item.IdQuestion })#More">
                                                @item.Tests.Count
                                                </a>
                                        </td>
                                        <td>
                                            <a class="nav-link text-dark"
                                               href="@Url.Action("GetInfoQuestion", "Question",new {IdQuestion = item.IdQuestion })#More">
                                                @item.Difficult
                                                </a>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    }
                </div>
            </div>
</body>
</html>

