@model IEnumerable<TestSystem.Web.Models.QuestionViewModel>

@{
    ViewBag.Title = "AllQuestions";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href=@Url.Content("/Content/vendor/bootstrap/css/bootstrap.min.css") rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href=@Url.Content("/Content/vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href=@Url.Content("/Content/vendor/datatables/dataTables.bootstrap4.css") rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href=@Url.Content("/Content/css/sb-admin.css") rel="stylesheet">
</head>

<h2>Questions</h2>

<p>
    <a class="nav-link" href='@Url.Action("CreateQuestion", "Question" )'>
        <img src='@Url.Content("~/Content/actionImages/iconPlus.png")' />
    </a>
</p>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <td>Question</td>
                    <td>Answers</td>
                    <td>Score</td>
                    <td>Tools</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnswerNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            <div class="container">
                                <div class="row">
                                <a class="nav-link" href='@Url.Action("EditQuestion", "Question" ,  new { id = item.IdQuestion })'>
                                    <img src='@Url.Content("~/Content/actionImages/iconEdit.png")' />
                                </a>
                                <a class="nav-link" href='@Url.Action("QuestionFullInfo", "Question" ,  new { id = item.IdQuestion })'>
                                    <img src='@Url.Content("~/Content/actionImages/iconInfo.png")' />
                                </a>
                                <a class="nav-link" href='@Url.Action("DeleteQuestion", "Question" ,  new { id = item.IdQuestion })'>
                                    <img src='@Url.Content("~/Content/actionImages/iconRemove.png")' />
                                    <i class="icon-remove icon-white"></i>
                                </a>
                                    </div>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
