@model TestSystem.Web.Models.QuestionDetailsViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tests info</title>
</head>
<body>
    <div class="container">
        <h2>All info about this question ...</h2>
        <div class="card-group">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <td>Question</td>
                        <td>Theme</td>
                        <td>Difficult</td>
                        <td>Score</td>
                        <td>Creation at</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => modelItem.QuestionText)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => modelItem.Theme)

                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => modelItem.Difficult)

                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => modelItem.Score)

                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => modelItem.CreateDate)

                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="card-group ">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Answer</th>
                                <th>Correct</th>
                            </tr>
                            @foreach (var item in Model.Answers)
                            {
                                <tr>
                                    <td>
                                        @item.AnswerText
                                    </td>
                                    <td>
                                        @item.Correct
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-group ">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Test </th>
                                <th>Description</th>
                                <th>Question</th>
                            </tr>
                            @foreach (var item in Model.Tests)
                            {
                                <tr>
                                    <td>
                                        @item.TestName
                                    </td>
                                    <td>
                                        @item.TestDescription
                                    </td>
                                    <td>
                                        @item.QuestionsNumber
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn-danger" /> |
            </div>
        }
    </div>
</body>
</html>

