@model TestSystem.Logic.ViewModel.FiltrationViewModel
@using PagedList.Mvc

@{
    string Icon = "";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Lists.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Tests info</title>
</head>
<body>
    <div class="container">
        <h2 class="display-3 text-info">Questions dashboard</h2>
        <form method="get">
            <div class="form-inline">
                @using (Html.BeginForm())
                {
                    <div class="col-md-3">
                        <div class="input-group">

                            @Html.TextBox("search",
                           "", new { placeholder = "Search for..." , @class="form-control" })

                            <span class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                }

                <div class="col-md-2">
                    <div class="form-inline">
                        @Html.DropDownList("IdTheme", Model.Themes as SelectList,
                                    htmlAttributes: new { @class = "form-control" ,
                                    placeholder = "Theme..."})
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-inline">

                        @Html.DropDownList("difficult", Model.Difficult as SelectList,
                                htmlAttributes: new { @class = "form-control" ,
                                placeholder = "Difficult..."})

                    </div>
                </div>
                <input type="submit" value="Sort" class="btn btn-primary" style="width:100px" />

            </div>
        </form>
        <div id="tables">
            <table class="table  table-hover" width="100" cellspacing="0">
                <thead class="show">
                    <tr>
                        <th>Question </th>
                        <th>Theme</th>
                        <th>Difficult</th>
                        <th>Creation at</th>
                        <th>Tools</th>
                    </tr>
                </thead>

                @foreach (var item in Model.Questions)
                {
                    string selectedRow = "";
                    if (item.IdQuestion == Model.IdQuestion)
                    {
                        selectedRow = "bg-warning";
                    }
                    <tr class="@selectedRow">
                        <td width="300">
                            @Html.DisplayFor(modelItem => item.QuestionText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Theme.ThemeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Difficult)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            <button class="btn btn-primary"
                                    onclick="location.href=
                                    '@Url.Action( "GetInfoQuestion","Question" , new { IdQuestion = item.IdQuestion,
                                page = Model.Questions.PageNumber}
                                )#More'">
                                More...
                            </button>
                            <button class="btn btn-primary"
                                    onclick="location.href='@Url.Action("EditQuestion", "Question",new {IdQuestion = item.IdQuestion })'">
                                Edit
                            </button>
                            <button class="btn btn-danger"
                                    onclick="location.href='@Url.Action("DeleteQuestion", "Question",new {IdQuestion = item.IdQuestion })'">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </table>
            <div class="form-row">
                <div class="col-md-3">
                    Page @(Model.Questions.PageCount < Model.Questions.PageNumber ? 0 : Model.Questions.PageNumber)
                    from @Model.Questions.PageCount
                </div>
            </div>
            <div class="btn-group" id="contentPager">
                @Html.PagedListPager(Model.Questions, page => Url.Action("GetInfoQuestion", new { page }))
            </div>
        </div>

        <div class="container" id="More">
            @if (Model.Answers != null)
            {
                foreach (var item in Model.Questions)
                {
                    if (item.IdQuestion == ViewBag.IdQuestion)
                    {
                        <div class="text-center">
                            <p style="font-size:x-large">@Html.DisplayFor(itemModel => item.QuestionText)</p>
                        </div>
                    }
                }
                if (ViewBag.QuestionText != null)
                {
                    <div class="text-center">
                        <p style="font-size:x-large">@ViewBag.QuestionText</p>
                    </div>
                }
                <h3 class="display-4">
                    Answers in Selected Question
                </h3>
                <ol class="list-counter-circle text-dark">
                    @foreach (var answer in Model.Answers)
                    {
                        if (answer.Correct == true)
                        {
                            Icon = "fa fa-fw fa-check";
                        }
                        else
                        {
                            Icon = "";
                        }
                        <li style="background-color:lightgrey">
                            @answer.AnswerText
                            <i class="@Icon"></i>
                        </li>
                    }
                </ol>
           
            }

            @if (Model.Tests != null)
            {
                <h3 class="display-4">Tests in which u can find this question:</h3>
                <ol class="list-counter-circle mb-5">
                    @foreach (var test in Model.Tests)
                    {
                        <li style="background-color:lightgrey">
                            <a class=" text-dark" href="@Url.Action("GetInfoTest","Test" , new {IdTest = test.IdTest })">
                                @test.TestName <span class="text-info"> Theme:</span>  @test.Theme.ThemeName
                                <span class="text-info">Difficult: </span>    @test.Difficult
                            </a>
                        </li>
                    }
                </ol>
            }
        </div>
    </div>
</body>
</html>
