
@{
    ViewBag.Title = "CommonTables";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>CommonTables</h2>
<div class="container">
    <div class="row">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Last tests
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Test name</td>
                                <td>Questions number</td>
                                <td>Description</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Tests)
                            {
                                <tr>
                                    <td>
                                        @item.TestName
                                    </td>
                                    <td>
                                        @item.QuestionsNumber
                                    </td>
                                    <td>
                                        @item.TestDescription
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
                <div class="row">
                    <table class="table table-bordered  table-hover">
                        <tr>
                            <td>Question text</td>
                            <td>Answer number</td>
                            <td>Score</td>
                        </tr>
                        @foreach (var item in ViewBag.Questions)
                        {
                            <tr>
                                <td>
                                    @item.QuestionText
                                </td>
                                <td>
                                    @item.AnswerNumber
                                </td>
                                <td>
                                    @item.Score
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="row">
                    <tr>
                        <td>Question text</td>
                        <td>Answer number</td>
                        <td>Score</td>
                    </tr>
                    @foreach (var item in ViewBag.Questions)
                    {
                        <tr>
                            <td>
                                @item.QuestionText
                            </td>
                            <td>
                                @item.AnswerNumber
                            </td>
                            <td>
                                @item.Score
                            </td>
                        </tr>
                    }
                    </table>
                </div>
                <div class="row">
                    <table class="table table-bordered  table-hover">
                        <tr>
                            <td>Question text</td>
                            <td>Answer number</td>
                            <td>Score</td>
                        </tr>
                        @foreach (var item in ViewBag.Questions)
                        {
                            <tr>
                                <td>
                                    @item.QuestionText
                                </td>
                                <td>
                                    @item.AnswerNumber
                                </td>
                                <td>
                                    @item.Score
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
