@model TestSystem.Web.Models.CommonViewModel

<div class="container" id="1">
    @Html.ActionLink("Create New", "Create")

    <table class="table table-hover">
        <tr>
            <th>Test </th>
            <th>Questions </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Tests)
        {
            string selectedRow = "";
            if (item.IdTest == ViewBag.IdTest)
            {
                selectedRow = "bg-light";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.TestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionsNumber)
                </td>
                <td>
                    @*@Html.ActionLink("Select", "AllTests", new { id = item.IdTest })*@
                    @Ajax.ActionLink("Select", "AllTests", new { id = item.IdTest }, new AjaxOptions() { UpdateTargetId = "1" }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdTest }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdTest }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdTest })
                </td>
            </tr>
        }

    </table>

    @if (Model.Questions != null)
    {
        <h3>Questions by Selected Test</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Question</th>
                <th>Answers</th>
                <th>Score</th>
            </tr>

            @foreach (var item in Model.Questions)
            {
                string selectedRow = "";
                if (item.IdQuestion == ViewBag.IdQuestion)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Select", "AllTests", new { idQuestion = item.IdQuestion })
                    </td>
                    <td>
                        @item.QuestionText
                    </td>
                    <td>
                        @item.AnswerNumber
                    </td>
                    <td>
                        @item.Score
                    </td>
                </tr>
            }

        </table>
    }

    @if (Model.Answers != null)
    {
        <h3>
            Answers in Selected Question
        </h3>
        <table class="table">
            <tr>
                <th>Answer</th>
                <th>Correct</th>
            </tr>
            @foreach (var item in Model.Answers)
            {
                <tr>
                    <td>
                        @item.AnswerText
                    </td>
                    <td>
                        @item.Correct
                    </td>
                </tr>
            }
        </table>
    }
</div>
@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
