@model IEnumerable<TestSystem.Web.Models.TestViewModel>
@{
    ViewBag.Title = "Home Page";
}


@{
    ViewBag.Title = "Index";
}

<h2>Last tests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestDescription)
            </td>
            <td>
            
            </td>
        </tr>
    }

</table>








